# eclipse
eclipse
run
bin
*.launch
.settings
.metadata
.classpath
.factorypath
.project

# eclipse apt
/.apt_generated/
/.apt_generated_tests/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
src/generated/resources/.cache
build
.gradle

# Files from Forge MDK
forge*changelog.txt
server
Minecraft
changelog.txt
CREDITS.txt
